.projectImgSmall {
  border: 1px solid var(--theme-text-color-2);
  width: 30vw;
  min-width: 300px;
  float: right;
  padding: 0.5vw;
  margin: 2vw;
}

@media all and (max-width: 500px) {
  .projectImgSmall {
    float: none;
  }
}
