.projectDescription {
  color: var(--theme-text-color-1);
  margin: 10vh 20vw;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
  text-justify: newspaper;
  text-indent: 2vw;
}

.projectDescription h1 {
  color: var(--theme-text-color-2);
}

@media all and (max-width: 500px) {
  .projectDescription {
    margin: 10vh 10vw;
  }
}
