.project-card {
  color: rgb(60, 69, 109);
  background-color: var(--theme-surface-1);
  border: 1px solid;
  border-radius: 8px;
  box-sizing: border-box;
  min-width: 250px;
  max-width: 300px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.project-card__desc {
  font-family: "Montserrat-LightItalic";
  color: var(--theme-text-color-1);
  text-align: center;
}

.project-card__title {
  color: var(--theme-text-color-2);
}

.project-card__stack {
  color: var(--theme-text-color-1);
  padding: 0;
  list-style: none;
  text-align: center;
}

.project-card__button button {
  background-color: inherit;
  color: var(--theme-text-color-2);
  border: 1px solid;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
  font-family: "Montserrat-Light";
}
.project-card__button button:hover {
  color: var(--theme-background-color);
  background-color: var(--theme-text-color-2);
}
