:root {
  /* Background */
  --theme-background-color: rgb(38, 44, 66);
  /* Font */
  --theme-text-color-1: #b4b4b4;
  --theme-text-color-2: #ff9533;
  /* Surface */
  --theme-surface-1: rgb(45, 51, 80);
  --theme-surface-2: rgb(60, 69, 109);
}
