@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("./fonts/Montserrat-LightItalic.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("./fonts/Montserrat-Light.ttf");
}

body {
  margin: 0;
  padding: 0;
  background: var(--theme-background-color);
  font-family: Montserrat, sans-serif;
}

:root {
  --bp-small-device: 500px;
}
