:root {
  /* Background */
  --theme-background-color: #ffffff;
  /* Font */
  --theme-text-color-1: #003459;
  --theme-text-color-2: #00a8e8;
  /* Surface */
  --theme-surface-1: #f8f8f8;
  --theme-surface-2: #00a8e8;
}
