:root {
  --theme-background-color: white;

  --theme-surface-color: #f5f5f5;
  --theme-surface-color-light: #fafafa;

  --theme-primary-color: #9f9f9f;
  --theme-primary-color-dark: #3a3a3a;
  --theme-secondary-color: #ff9533;
}
