.projects-flex {
  background-color: var(--theme-background-color);
  padding: 3vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-flex div {
  margin: 0.5vh;
}
