.nav {
  color: var(--theme-text-color-1);
  background-color: var(--theme-background-color);
  font-size: 1.6rem;
  padding: 2vh 2vw;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav__icon {
  color: var(--theme-text-color-2);
  opacity: 0.8;
  margin-right: 5px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__links li {
  padding: 0rem 0.5rem;
}

.nav__links li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--theme-text-color-2);
  transition: all 0.3s ease 0s;
  padding: 1vw;
}

.nav__links li a:hover {
  color: var(--theme-text-color-1);
}

/* Small device */
@media all and (max-width: 500px) {
  .nav__links {
    justify-content: center;
    font-size: 1.2rem;
  }
  .nav__links li a {
    flex-flow: column;
    align-items: center;
    padding: 10px;
  }
}
