.nav {
  color: var(--theme-text-color-1);
  font-size: 1.2em;
  padding-top: 2vh;
  margin-right: 1vw;
  padding-bottom: 1vh;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav__icon {
  color: var(--theme-text-color-2);
  opacity: 0.8;
  margin-right: 5px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__links li {
  padding: 0rem 0.5rem;
}

.nav__links li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--theme-text-color-2);
}

/* Small device */
@media all and (max-width: 500px) {
  .nav__links {
    justify-content: center;
  }
  .nav__links li a {
    flex-flow: column;
    align-items: center;
  }
}
