.nav {
  color: var(--theme-primary-color);
  font-size: 1.5em;
}

.nav ul {
  margin: 0;
  padding-top: 10px;
}

.nav__icon {
  color: var(--theme-secondary-color);
  opacity: 0.8;
  margin-right: 5px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1vh;
}

.nav__links li {
  padding: 0rem 1rem;
}

.nav__links li a {
  display: flex;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--theme-secondary-color);
}
