:root {
  --circle-size: 200px;
}

.circleface {
  background-color: var(--theme-surface-1);
  border: 2px solid var(--theme-text-color-2);
  min-width: var(--circle-size);
  min-height: var(--circle-size);
  line-height: var(--circle-size);
  border-radius: 50%;
  background-image: url("../../assets/me7.jpg");
  background-size: cover;
  opacity: 0.8;
}
