.projectImg {
  background-color: red;
}

.projectImgSmall {
  border: 1px solid var(--theme-text-color-2);
  width: 30vw;
  min-width: 300px;
  float: right;
  padding: 0.5vw;
  margin: 2vw;
  margin-right: 0px;
  opacity: 0.8;
}

@media all and (max-width: 500px) {
  .projectImgSmall {
    padding: 10px;
    margin: 18px;
  }
}
