.home-caption {
  background-color: var(--theme-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmax;
  padding-top: 4vw;
}

.home-caption ul {
  list-style: none;
  padding: 10px;
}

.home-caption__left {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  color: var(--theme-text-color-2);
}

.home-caption__right {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  color: var(--theme-text-color-1);
}
